* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('asd.png');
    /* Arka plan görseli */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app-container {
    background-color: rgba(235, 150, 150, 0.8);
    /* Beyaz arka plan rengi ile şeffaflık */
    padding: 50px;
    /* Çerçeve genişliğini arttırdık */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 750px;
    /* Çerçeve genişliğini arttırdık */
    height: 600px;
    /* Çerçeve yüksekliğini arttırdık */
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city {
    padding: 8px;
    width: 120px;
    /* Daha küçük bir input alanı */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    /* Font boyutunu küçülttük */
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    /* Font boyutunu küçülttük */
}

button:hover {
    background-color: #0056b3;
}

#weather-info {
    display: none;
    margin-top: 20px;
}

.weather-details {
    font-size: 20px;
    margin-bottom: 10px;
}